html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #222;
}

.controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 140px;
  padding: 10px;
  text-align: center;
  color: #eee;
}

label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.control {
  margin: 5px;
}

